% Phone
[
    {"wow-submenu-img", [
        {width, 140},
        {height, 92},
        {crop, center}
    ]},
    {"wow-home-featured", [
        {width, 250},
        {height, 166},
        {crop, center}
    ]},
    {"wow-portrait-popup", [
        {width, 800},
        {quality, 25},
        upscale
    ]},
    {"wow-social-icon", [
        {pre_magick, "-level 90%,100% +level-colors \\#FF006C,"},
        {height, 20},
        lossless
    ]},
    {"wow-portrait-list", [
        {width, 300},
        {height, 300},
        crop,
        upscale
    ]},

    {"base-media-preview", [
        {width, 400},
        upscale
    ]},
    {"base-thumbnail", [
        {width, 200},
        {height, 200},
        {crop, center}
    ]},
    {"base-thumbnail-document", [
        {width, 200},
        {height, 200},
        {extent, true}
    ]},
    {"base-list-item-small", [
        {width, 200},
        {height, 132},
        {crop, center}
    ]},
    {"base-list-item-small-document", [
        {width, 200},
        {height, 132},
        {extent, true}
    ]},
    {"base-list-item-small-logo", [
        {width, 200},
        {height, 132},
        {extent, true},
        lossless
    ]}
].
