% Tablet+
[
    {"wow-home-featured", [
        {width, 600},
        {height, 400},
        {crop, center},
        upscale
    ]},
    {"wow-portrait-popup", [
        {width, 2000},
        {quality, 25},
        upscale
    ]},

    {"base-page-main", [
        {width, 800},
        upscale
    ]},
    {"base-media-preview", [
        {width, 800},
        upscale
    ]},
    {"base-thumbnail", [
        {width, 400},
        {height, 400},
        {crop, center},
        upscale
    ]},
    {"base-list-item-small", [
        {width, 200},
        {height, 132},
        {crop, center}
    ]},
    {"base-list-item-small-document", [
        {width, 200},
        {height, 132},
        {extent, true}
    ]},
    {"base-list-item-small-logo", [
        {width, 200},
        {height, 132},
        {extent, true},
        lossless
    ]}
].
