% Desktop
[
    {"base-media-preview", [
        {width, 800},
        upscale
    ]},
    {"base-list-item-small", [
        {width, 200},
        {height, 132},
        {crop, center}
    ]},
    {"base-list-item-small-document", [
        {width, 200},
        {height, 132},
        {extent, true}
    ]},
    {"base-list-item-small-logo", [
        {width, 200},
        {height, 132},
        {extent, true},
        lossless
    ]}
].